
.container
    width: 100%
    height: 100%

    .react-mde
        width: 70%
        height: 100%
        margin: 0 auto
        text-align: center

        .mde-header
            line-height: 50px
            margin-top: 50px
            text-align: left
            ul
                display: inline-block

            li
                width: 50px
                position: relative 

                .fa-header
                    width: 30px
                    height: 30px   
                    display: inline-block

            .react-mde-dropdown
                position: absolute 
                top: 0
                left: 0       
        
        .mde-text
            display: inline-block
            width: 45%
            height: 70%
            float: left

            textarea
                width: 100%
                height: 100%

        .mde-preview
            border: 1px solid #c0c4c6 
            width: 45%  
            float: right
            height: 70%  
            text-align: left   

        .mde-preview
            display: inline-block  

        .mde-help
            display: none   

