@import '../../assets/styles/lib/mixin.styl'

.page-device
    display: flex

    ::-webkit-scrollbar
        width: 10px;
        height: 2px;
        background-color: #f5f5f5;

    ::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
        border-radius: 10px;
        background-color: #f5f5f5;

    ::-webkit-scrollbar-thumb
        height: 20px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
        background-color: rgba(0,0,0,.3);

    .lt-left
        width: 250px

        .header
            padding: 15px 10px
            border-bottom: 1px solid #ddd
            clear: both

            .name
                float: left
                font-weight: bold
            
            .btn 
                float: right

            .add
                font-size: 20px    

        .list
            padding: 10px
            border-bottom: 1px solid #ddd
            clear: both
            cursor: pointer

            &.currer
                background: rgba(#000, 0.1)
            
            &:hover
                background: rgba(#000, 0.05)

            .name
                float: left
                width: 180px
                one-line()

            .btn
                float: left
                margin: 5px 0 0 5px


    .container 
        flex: 1
        border-right:1px solid #ddd
        border-left:1px solid #ddd
        position: relative
        display: flex
        padding: 119px 0 0

        .react-codemirror2
            position: relative
            overflow-y: auto
            flex: 1
        
        .bottonWrap
            position: absolute
            z-index: 9999
            width: 100%
            background: #fff
            border-bottom: 1px solid #ddd
            padding: 10px
            top: 0
            left: 0

            .box

                div
                    display: inline-block
                    margin: 10px 10px 0 0 
                    cursor: pointer
                    color: #108ee9
                    border-radius:5px
                    padding 2px 5px
                    border: 1px solid #999
                    margin-bottom: 0
                    font-size: 13px

                    &:hover
                        border: 1px solid rgba(#999, 0.5)
                        border-radius:5px
                        padding 2px 5px
                        color: rgba(#108ee9, 0.5)

        .add
            position: absolute
            top:21px 
            left: 184px
        
    .preview
        width: 600px
        padding: 10px
        overflow-y: auto