
.container
    width: 100%
    height: 100%
    display: flex

    .lt-left    
        width: 200px
        margin: 0 10px 0 0
        border-right: 1px solid #ddd
        display: inline-block

    .lt-right
        flex: 1

        .ui-btnBar
            display: inline-block

    .react-mde
        height: 100%
        margin: 0 auto
        text-align: center

        .mde-header
            text-align: left
            margin: 12px
            ul
                display: block
                margin-bottom: 12px

            li
                margin: 0 8px
                position: relative 
                display: inline-block

                button 
                    width: 100%
                    margin: 0 5px

                .fa-header
                    width: 30px
                    height: 30px   
                    display: inline-block

            .react-mde-dropdown
                position: absolute 
                top: 0
                left: 0       
        
        .mde-text
            display: inline-block
            width: 45%
            height: 70%
            float: left

            textarea
                width: 100%
                height: 100%


        .mde-preview
            display: none

        .mde-help
            display: none  

        .preview
            float: left 


        .fa-string
            &:before
                content: 'String'

        .fa-number
            &:before
                content: 'Number'

        .fa-object
            &:before
                content: 'Object'

        .fa-array
            &:before
                content: 'Array'

         .fa-boolean
            &:before
                content: 'Boolean'

        .fa-image
            &:before
                content: 'Iamge'

        .fa-date
            &:before
                content: 'Date'

        .fa-post
            &:before
                content: 'POST'

        .fa-get
            &:before
                content: 'GET'

        .fa-clear
            &:before
                content: '清除'        

    .tabContent
        display: inline-block            