.page-deviceDetail

    .detail
        margin:50px 0 0 10px            


    .btnWrap
        width: 100px
        line-height: 32px

        i
            cursor: pointer
            margin: 0 0 0 20px
            font-size: 18px

            &:hover
                color: #108ee9

    .productInfo
        zoom: 1
        &:after
            visibility: hidden
            display: block
            font-size: 0
            content: " "
            clear: both
            height: 0

        .ant-row
            float: left
            display: flex
            margin-right: 20px
            width: 300px

            .ant-form-item-label
                width: 90px

            .ant-form-item-control-wrapper
                flex: 1


    .datial_content
         padding: 0 40px

        .title
            border-bottom: 1px solid #ccc
            line-height: 40px
            margin: 0 0 30px

            .name
                float: left
                font-size: 16px
                color: #000

            button
                float: right

        .nullText
            text-align: center
            padding: 20px
            background: #f1f1f1
            margin: 0 0 30px

            span
                color: #108ee9
                cursor: pointer

        .search-top

            .inputWrap
                display: flex

                .input-name
                    display: flex
                    flex: 1

                    .ant-form-item-control-wrapper
                        flex: 1
                    
                    .ant-form-item-control
                        width: 100%

                    .ant-form-item-label
                        width: 180px

    .dataDot
        border: 1px solid #ddd
        margin-bottom: 20px 
        padding: 10px 0 10px 20px
        display: flex

        .inputWrap
            flex: 1
            clear: both
            
            .ant-form-item
                margin: 0 50px 10px 0
                float: left

                &:last-child
                    width: 100%
                    margin: 0

                .ant-form-item-label
                    display: inline-block
                    vertical-align: top

                .ant-form-item-control-wrapper
                    display: inline-block

                label
                    color: #999

    .back
        text-align: center

        button
            margin: 0 10px