.ui-btnBar
    padding: 15px 40px
    text-align: center
    box-sizing: border-box

    div.ant-form-item-control-wrapper
        display: inline-block
        width: auto

    .ant-btn
        margin-right: 30px

    .ant-upload

        .ant-btn
            background: #108ee9

            span
                margin-left: 0
                color: #fff

        .anticon-upload:before
            content: " "