body
    height: 100%

    #root>div
        height: 100%

.lt-header
    height: 48px
    line-height: @height
    position: fixed
    z-index: 2
    top: 0
    left: 0
    right: 0
    border-bottom: 1px solid #f1efef
    min-width: 1003px
    box-shadow: 0 0 5px rgba(#000, .2)
    background: #fff

    .main
        min-width: 1166px
        clear: both
    
    .logo
        height: 48px
        width: 220px
        float: left
        font-size: 18px
        cursor: pointer
        padding: 0 0 0 10px
        font-weight: bold
    
    .nav
        float: left

    .operating
        position: relative
        margin-right: 25px
        float: right

        &>span 
            margin-right: 10px

.lt-footer
    height: 40px
    line-height: @height
    text-align: center
    position: fixed
    bottom: 0
    left: 0
    right: 0
    border-top: 1px solid #f1efef
    clear: both
    padding: 0 10px
    min-width: 1003px

    .left
        float: left
    
    .right
        float: right


.lt-main
    position: absolute
    z-index: 1
    top: 0
    // bottom: 41px
    left: 0
    right: 0
    overflow-y: auto
    background: #fff
    min-width: 1166px
    box-sizing: border-box
    display: flex
    min-width: 1003px
    height: 100%
    padding: 48px 0 0

    .ant-tree>li
        float: left
        margin-left: 30px

    &>div[class^='page']
        width: 100%