.page-login

    .login-forgot
        float: right
        margin: 0 0 10px

    .login-button
        height: 35px
        margin: 0 0

.page-forget

    .send-code
        width: 90px
        float: right
        color: #fff
        
        &[disabled]
            background-color: #f7f7f7
            color: #333

    .forget-button 
        width: 35%    
        height: 35px
        color: #fff

        &:last-child
            float: right

        &:first-child
            background-color:#888
            border: #888

    #number    
        width: 195px

    .ant-col-18
           padding-right: 0px

    .forgetW
        width: 195px   


.page-resetting

    .form 
        width: 300px
        position: absolute
        top: 15%
        left: 40%

    .title
        font-size: 27px    
        text-align: center
        margin-bottom: 20px

    .cancel-button 
        width: 35%    
        height: 35px

        &:last-child
            float: right

        &:first-child
            background-color:#888
            border: #888 


    button 
        width: 100%